{% extends "base.html" %}
{% block content %}

    

    <h2>{{ page_title }}</h2>

    <p>
        Originally called Olórin, he was accounted as the wisest of the Maiar (with the possible exception of Melian).
        He was created by Ilúvatar before the Music of the Ainur, and was at the beginning of Time amongst the Ainur who
        entered into Eä. In his "youth", he became one of the Maiar who served Manwë, Varda, Irmo and Nienna named. He
        was associated with light and fire, much like his peer Varda.[3] Yet his ways often took him to Nienna, from
        whom he learned pity and patience. He loved the Elves, but he walked unseen among them, or wore a fana that
        appeared like an Elf, and sent them fair visions in their hearts that made them wiser. Throughout his existence,
        he followed the example of Nienna, he took pity on the sorrows of the Children of Ilúvatar and drove those who
        listened to him out of despair.
    </p>

    {% for member in company %}
    

        <div class="row featurette">

            {% if loop.index %2 !=0 %}

                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    
                    <p>
                        {{ member.description }}
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>

            {% else %}  
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>  
                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    
                    <p>
                        {{ member.description }}
                    </p>
                </div>
            {% endif %}
        </div>

        {% if loop.index != loop.length %}

            <hr class="featurette-divider">

        {% endif %}
    {% endfor %}
    
{% endblock %}